$primary: #333;
$secondary: #c69c6d;
$third: #555;
$font-family: "Poppins", sans-serif;
$font-size-13: 13px;
$line-height-15: 15px; 
$font-weight-bold: bold;

// DATA INPUT
$dark-blue: #172b74;
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$cyan: #17a2b8;
$white: #fff;
$gray: #c5c5c5;
$gray-dark: #343a40;
$black: #000;
$disable: rgba(0, 0, 0, 0.38);
