.count-down{
    background-color: rgba(0, 0, 0, 0.9);
    .count-down__content{
        .count-down__content-title{
            .title{
                text-align: center;
            h2{
                color: #fff;
            }
            p{
                color: #fff;
                }
            }
        }
    }
}