include ./intro.pug
include ./slider.pug
include ./store.pug
include ./offer.pug
include ./coupon.pug
include ./selling.pug
include ./discount.pug
include ./new-video.pug
include ./news.pug
include ./question.pug
include ./all-store.pug
include ./view-people.pug
