.new-smater 
    .container 
        .row 
            .col-12 
                +renderTitle({title:'Shop Smarter',des:'New released & most used coupon codes. Data is updated frequently so you can save as much as you can.',seen:'See video',see:true})
        .row
            .col-lg-5.col-12
                +renderCardNews({
                    image:true,
                    name:'Giving Tuesday: What it is and how you can get involved',
                    month:'December 1st, 2015',
                    desc:'Calling all philanthropists: Dec. 1 is Giving Tuesday. Now that Black Friday and Cyber Monday are over and you have all your Christmas shopping done (or, you know, at least youve bought a present or two), Giving Tuesday is about shifting focus toward a more charitable mindset. The founders of the holiday hope it becomes as natural of a habit to give on the Tuesday after Thanksgiving as it is to shop during the holiday weekend.'
                })
            
            .col-lg-7.col-12
                    +renderCardNews({
                        name:'Giving Tuesday: What it is and how you can get involved',
                        month:'December 1st, 2015', 
                        class:'mt-0',
                        custom:'custom-padding '
                    })
                    +renderCardNews({
                        name:'Giving Tuesday: What it is and how you can get involved',
                        month:'December 1st, 2015', 
                        class:'mt-0',
                        custom:'custom-padding'
                    })
                    +renderCardNews({
                        name:'Giving Tuesday: What it is and how you can get involved',
                        month:'December 1st, 2015', 
                        class:'mt-0',
                        custom:'custom-padding '
                    })
                    +renderCardNews({
                        name:'Giving Tuesday: What it is and how you can get involved',
                        month:'December 1st, 2015', 
                        class:'mt-0',
                        custom:'custom-padding '
                    })
                    