.offer 
    .container 
        .row 
            .col-12 
               +renderTitle({title:'Top Offers',des:'Some suggestions of top deals & coupons from top online stores. Lets see if you can find what you are looking for.'})

               .offer__box.owl-carousel#offer__box 
                  each val in [1, 2, 3, 4,5,6]
                     .offer__box-item
                        +renderCardType10( { src: 'assets/images/home/offer.png',sale: 'Save up to',per:'70%',name:'Shirts' } )
            