section.slider 
    div.slider-home 
        .container
            div(id="slider-home")
                //- start slider 1
                div(class = "slider-item slider-bg")
                    div(class="item-wrapper h-100 d-flex justify-centent-center align-items-center")
                        .container 
                            .row 
                                .col-md-7 
                                    .heading-title-big  Shop & Save With Today's Great Deals         
                                    .desc-slide Free coupons & hot deals are updated frequently, Goodshop provides online shoppers with an easy and convenient saving way 
                                .col-md-5 
                                    img(src="https://fidex.com.ua/monster/kanter/demos/img/macbook.png" class="img-responsive")
                                    
                //- end slider 1

                //- start slider 2
                div(class = "slider-item slider-bg")
                    div(class="item-wrapper h-100 d-flex justify-centent-center align-items-center")
                        .container 
                            .row 
                                .col-md-7 
                                    .heading-title-big  Shop & Save With Today's Great Deals         
                                    .desc-slide Free coupons & hot deals are updated frequently, Goodshop provides online shoppers with an easy and convenient saving way 
                                .col-md-5 
                                    img(src="https://fidex.com.ua/monster/kanter/demos/img/macbook.png" class="img-responsive")
                                
                //- end slider 2

                //- start slider 3
                div(class = "slider-item slider-bg")
                    div(class="item-wrapper h-100 d-flex justify-centent-center align-items-center")
                        .container 
                            .row 
                                .col-md-7 
                                    .heading-title-big  Shop & Save With Today's Great Deals         
                                    .desc-slide Free coupons & hot deals are updated frequently, Goodshop provides online shoppers with an easy and convenient saving way 
                                .col-md-5 
                                    img(src="https://fidex.com.ua/monster/kanter/demos/img/macbook.png" class="img-responsive")
                //- end slider 3

            div(id="dots-control-full-slider" class="dots-control-carousel" role="toolbar")

