@each $name, $color in $utils-color-mapping {
    .#{$acr-hover}-bg-#{$name}:hover, .#{$acr-focus}-bg-#{$name}:focus {
        background-color: $color;
        }
    .#{$acr-hover}-text-#{$name}:hover , .#{$acr-focus}-text-#{$name}:focus {
        color: $color;
        }
}
.#{$acr-cursor}-pointer:hover {
    cursor: pointer;
}