
mixin renderNavigation(inputObj)
    +renderContent(inputObj)

    

//- sample
    //- +renderNavigation({ 
        
    //-             items:[
    //-                 [
    //-                     {   
    //-                         type:"iconImage",
    //-                         values:{
    //-                             linkWrapper:{href: "#", class:"navbar-brand"},
    //-                             class:"navbar",
    //-                             isImage: true,
    //-                             src: './assets/images/logo-square.png',
    //-                         alt:"test" }
    //-                     }, 
    //-                     {
    //-                         type: 'button', 
    //-                         colClass:"btn-toogler flex-grow-1 d-flex align-items-center justify-content-end ",
    //-                         values: { iconImage: {name: 'fas fa-bars'}}
    //-                     },
    //-                     {
    //-                         type: 'itemList', 
    //-                         colClass:"navbar-menu flex-grow-1 d-flex align-items-center justify-content-end ",
    //-                         values: {
    //-                             class:"navbar__list d-flex ",
    //-                             items:[
    //-                                 {class:"nav-item", button: {  class: 'w-100 border-0  hover-bg-blue hover-text-white', href:'#', text: {text: 'item1'}}},
    //-                                 {class:"nav-item", button: {  class: 'w-100 border-0 hover-bg-blue hover-text-white', href:'#', text: {text: 'item1'}}},
    //-                                 {class:"nav-item", button: {  class: 'w-100 border-0 hover-bg-blue hover-text-white', href:'#', text: {text: 'item1'}}},
    //-                                 {class:"nav-item", button: {  class: 'w-100 border-0 hover-bg-blue hover-text-white', href:'#', text: {text: 'item1'}}},
    //-                                 {class:"nav-item", button: {  class: 'w-100 border-0 hover-bg-blue hover-text-white', href:'#', text: {text: 'item1'}}},
    //-                             ]
    //-                         }
    //-                     },
    //-                     {
    //-                         type: 'button', 
    //-                         colClass:"d-flex align-items-center",
    //-                         values: {href: "#", text:{text:"Add Properties"}, iconImage: {name: 'fas fa-plus-circle'}}
    //-                     },
                        
    //-                 ],
    //-             ]
    //-     })


    





    


